/* Geral --------------------------------------------------------*/ 
h1{
  text-align: center;
  font-size: 70px;
  margin: auto;
  width: 50%;
}

html {
  scroll-behavior: smooth;
}

/* Nav Bar --------------------------------------------------------*/
.navbar{
  background-color: white;
  text-align: center;
  border-bottom: 1px solid gray;
}
.navbar-brand{
  padding-left: 10px;
}
.nav-item{
  padding: 0 5px 0 5px;
}
.nav-item:hover{
  font-weight: bold;
}


/* Titulo --------------------------------------------------------*/

.titulo{
  color: white;
  text-shadow: 1px 1px 150px #DAA520;
  background:url('images/back.jpg') no-repeat center center ;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('images/back.jpg');
  background-size:cover;
  width:100%;
  padding-top:21%;
  padding-bottom:21%;
}

/* Sobre --------------------------------------------------------*/
.sobre{
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center; 
  min-height: 100vh;
  padding: 7% 0;
}

.row{
  padding-top: 50px;
}

.sobre h1::after{
  content: '';
  border-bottom: 2px solid #000;
  margin: auto;
  width: 70px;
  display: block;
  margin-top: 10px;
}

/* Eventos ----------------------------------------------------------------------------*/

.eventos h1::after{ /*  Tracinho por baixo do titulo */
  content: '';
  border-bottom: 2px solid #000;
  margin: auto;
  width: 70px;
  display: block;
  margin-top: 10px;
}
.eventos{
  padding: 4% 0;
  background-color: #c9d6df;
  display: flex;
  align-items: center; 
  
  min-height: 100vh;
}

.geral{
  margin: auto;
  width: 100%;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-item img{
  margin: auto;
  width: 100%;
}

.car-text{
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: 500;
  max-height: 500px;
}

/* Localizacao ------------------------------------------------------*/
.localizacao{
  padding-top: 7%;
  display: flex;
  align-items: center; 
  
  min-height: 100vh;
}
.in{
  width: 100%;
}
.localizacao h1::after{
  content: '';
  border-bottom: 2px solid #000;
  margin: auto;
  width: 70px;
  display: block;
} 
.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 80%;
  padding: 70px 0 70px 0;
  height: 80%;
  margin: auto;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px grey;
}

iframe{
  width: 100%;
}


